body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #2c3e50;
    color: white;
}

.red {
    background-color: #e74c3c;
    color: white;
}

.yellow {
    background-color: #f1c40f;
}

.green {
    background-color: #2ecc71;
    color: white;
}

